<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3" parallel= "false" >
 	 <test name="Test3">
	 	  <classes>
		    	<!-- <class name= "Mobile.Testcase1"/> -->
		    	<class name= "Mobile.ApkDragAndDrop"/>
		   </classes>
	   </test>
   
</suite> <!-- Suite -->
